@model IEnumerable<Proj.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentAuthorURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentHeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentAuthorURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentID })
        </td>
    </tr>
}
</table>
